<!DOCTYPE html>
<html>
    <head>
        <title>WRIR Show Archive</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    </head>
    <body>
        <section class="hero">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  WRIR Show Archives
                </h1>
                <h2 class="subtitle">
                    Use the buttons to the right of the show list to download each episode.
                    Use CTRL/CMD + F to find a specific show. Episodes that aired more than 90 days ago
                    can be found on the Z drive.
                </h2>
              </div>
            </div>
        </section>
        {{{body}}}
    </body>
</html>